.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 2rem;
  padding-bottom: 1rem;

  .left {
    width: 40%;
  }

  .right {
    width: 60%;

    .navbar {
      &__lists {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        color: black;
      }

      &__link {
        color: black;
        font-size: 16px;

        transition: all 0.5s;

        &:hover {
          font-weight: 500;
        }
      }
    }
  }
}
