.section {
  margin: 2rem 2rem;

  &__block {
    display: flex;
    justify-content: space-between;

    &_description {
      width: 50%;
    }
  }

  &-about {
    .frame {
      align-items: center;
    }

    .img {
      display: block;
      max-width: 60%;

      margin-top: auto;
      margin-left: auto;
      margin-right: auto;

    }
  }
}